body {background: #eee !important; padding-top: 40px; padding-bottom: 40px;}

.main-container {margin: 0 auto; width: 100%; background: #fff; border: 1px solid #ccc;  padding: 10px 40px}

.landing-form {}
.landing-form input[type=text] {width: 100%; margin-bottom: 10px; padding: 5px}
.landing-form .button-container {width: 100%; text-align: center}

.form-title {font-size: 38px; font-weight: 200; text-align: center; color: #FF432E}
.form-description {color: #96908E; font-size: 15px}